@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  
}

  

.logo img {
  width: 70px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
  border-radius: 100px;
}

.logo h1 {
  color: var(--darkTwo);
  font-size: 2.0rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
  font-size: 20px;
}

.links a:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
  color: red;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}



.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background-color: #192e3a;
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}


h5{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #999;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 20px;
    
}



  .p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: rgb(34, 253, 144);
    margin-top: 10px;
   
}
    .wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    }
    
    .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    }
    .wrapper .button:nth-child(1):hover .icon{
    transform: translateY(-5px);
    }
    .wrapper .button:nth-child(2):hover .icon{
    transform: translateY(-5px);
    }
    .wrapper .button:nth-child(3):hover .icon{
    
    transform: translateY(-5px);
}
    
    .wrapper .button:nth-child(4):hover .icon{
    
    transform: translateY(-5px);
    }
    .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    }
    .wrapper{
      margin-top: 10px;
    }
    .z{
    font-size: 20px;
    
    color: yellowgreen; }
    .container1 {
      margin-top: 10px;
      margin-bottom: 10px;
      align-items: center;
      text-align: center;
      width: 100%;
      
      background: rgb(238,174,202);
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(201,179,215,1) 41%, rgba(148,187,233,1) 100%);
      overflow: hidden;
      
     
    }
    .head{
      margin-top: 20px;
      font-family: 'Pacifico', cursive;
      font-size: 35px;
      color: rgb(63, 60, 60);
      font-weight: 500;
    }
    .data{
      line-height: 30px;
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Cormorant Garamond', serif;
      margin-left: 15px;
      margin-right: 15px
    }
    .line{
      margin-top: 10px;
      width: 70%;
      border-radius: 10px;
      height: 5px;
      border: none;
      text-align: center;
      background: linear-gradient(to left, blue,red);
      margin-bottom: 10px;
      
    }
    .sub{
        margin-top: 10px;
        font-size: 25px;
    }
    
    .subhead{
        font-size: 25px;
        font-weight: 600;
    }
    .bb{
      display: inline-block;
      border: none;
      background-color: black;
      outline: none;
      cursor: pointer;
      width: 200px;
      height: 30px;
      margin-bottom: 10px;
      font-size: 1.1rem;
      color: white;
    }
    .aa{
      color: white;
    }
    .bb:hover{
      transform: translateY(-5px);
    }
    .m1{
      width: 60%;
      float: left;
      height: auto;
     text-align: justify;
     margin-left: 40px;
     margin-top: 10px;
    }
   .img4{
     width: 450px;
     height: 700px;
     margin-top: 100px;
   }
   .container10{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(201,179,215,1) 41%, rgba(148,187,233,1) 100%);
      }
      
      .row{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
      }
      
      .card-01{
         
        text-align: center;
        background: #ffffff;
        position: relative;
        flex: 1;
        max-width: 25%;
        height: 360px;
        margin: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: solid black;
    
      }
      
      @media (max-width:800px){
        .card-01{
          flex: 100%;
          max-width: 600px;
        }}
      .card-01:hover{
        transform: translateY(-5px);
      }
      .adel{
        font-size: 50px;
        font-weight: 600;
        margin-top: 5px;
      }
      .adel1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 3px;
        margin-bottom: 5px;
        text-shadow: black;
      }
      .line2{
       width: 70%;
       height: 3px;
      background-color: #1DA1F2;}
      .adel2{
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.line3{

  width: 70%;
  height: 3px;
  background-color: #E1306C;
}
.line4{
  width: 70%;
  height: 3px;
  background-color: yellow;
}